:root {
  --text: #202426;
  --card: linear-gradient(135deg, #fb59dd, #f99ee8);
  --orange: #ffa200;
  --bg: linear-gradient(135deg, #32d653, #a4ff85);

  --delay: 200ms;
  --rotate-0: rotateY(0deg);
  --rotate-90: rotateY(90deg);
  --transition: all ease-in 200ms;

  --radius: 0.75rem;
  --shadow: 2px 2px 10px #03030390;

  --card-width: 8vw;
  --card-height: 5vw;
  --card-width-mobile: 20vw;
  --card-width-large: 160px;
  --card-enter: enter 600ms ease;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    sans-serif;

  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

.app {
  background: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--text);
}

/* -----utils------- */
.row {
  display: flex;
  flex-direction: row;
  height: auto;
  flex: 1;
}

.header{
  background-color: violet;
  margin: 20px 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.grid-game{
  flex: 1;
  /* grille de 6 sur 4 */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;

}
 /* --------------- card ------------------- */
 .card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: transparent;
  animation: var(--card-enter);
  border-radius: var(--radius);
}

.card-face,
.card-back {
  padding: 1rem;
  width: var(--card-width);
  height: var(--card-height);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-face {
  position: absolute;
  transform: var(--rotate-90);
  background: var(--card);
  font-size: 3rem;
  color: #FFF;
}
.card-back {
  cursor: pointer;
  transform: var(--rotate-0);
  transition-delay: var(--delay);
  background: var(--card);
  font-size: 2rem;
}
.selected .card-face {
  transform: var(--rotate-0);
  transition-delay: var(--delay);
}
.selected .card-back {
  transform: var(--rotate-90);
  transition-delay: 0s;
}
@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.left,.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 15vw;
}

/* .left children */*
.left > .reward{
  background: linear-gradient(135deg, #2f47fc, #4592ff);
}

.right > .reward{
  background: linear-gradient(135deg, #e92828, #fb4f4f);
}

.reward{
  display: flex;
  justify-content: center;
  width: 13vw;
  border-radius: 5px;
  transition: all 0.5s ease 0.5s;
} 

.eliminate{
  filter: grayscale(100%);
}



